.classpath
.project
.factorypath
.gradle/
.settings/
.idea/
bin/
logging/
build/
artifacts/
src/main/webapp/auth/
vendor.js.map
dontUseMe.map
app.js.map
app.css.map
/generated_src/
*.iml
target/
*.csv
out/
src/main/resources/auth0.yaml