logging/
.classpath
.project
.gradle/
.settings/
.idea/
bin/
build/
artifacts/
gradle.properties
.DS_Store
*.iml
*.swp
conductor/src/main/resources/auth0.yaml
datastore/src/main/resources/auth0.yaml
indexer/src/main/resources/auth0.yaml
