[submodule "chronicle-api"]
	path = chronicle-api
	url = git@github.com:openlattice/chronicle-api.git
[submodule "chronicle-server"]
	path = chronicle-server
	url = git@github.com:openlattice/chronicle-server.git
[submodule "launchpad"]
	path = launchpad
	url = git@github.com:openlattice/launchpad.git
[submodule "mechanic"]
	path = mechanic
	url = git@github.com:openlattice/mechanic.git
[submodule "neuron"]
	path = neuron
	url = git@github.com:openlattice/neuron.git
[submodule "rehearsal"]
	path = rehearsal
	url = git@github.com:openlattice/rehearsal.git
[submodule "rhizome-client"]
	path = rhizome-client
	url = git@github.com:geekbeast/rhizome-client.git
[submodule "rhizome"]
	path = rhizome
	url = git@github.com:geekbeast/rhizome.git
[submodule "shuttle"]
	path = shuttle
	url = git@github.com:openlattice/shuttle.git
[submodule "socrates"]
	path = socrates
	url = git@github.com:openlattice/socrates.git
[submodule "transporter"]
	path = transporter
	url = git@github.com:openlattice/transporter.git
