name: build

on:
  push:
    branches:
      - develop
      - main
      - release*
  pull_request:
    branches:
      - develop
      - main
      - release*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: java
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          # https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#adopt
          distribution: 'temurin'
          cache: 'gradle'

      - name: gradlew clean build
        run: ./gradlew clean build
